<div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-option-horizontal"></span>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button *ngFor="let option of options"
            class="dropdown-item"
            type="button"
            (click)="tableOptions(option)"
            >{{option}}</button>
  </div>

</div>
