<div class="container">
  <h1>Tasks</h1>
  <div class="row">
    <div class="col-lg-12">
      <div id="no-more-tables" class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Task</th>
              <th class="col-lg-2">ID</th>
              <th>Assigned By</th>
              <th class="col-lg-2">Assigned To</th>
              <th>Date Assigned</th>
              <th class="col-lg-2">Due</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody *ngFor="let task of tasks" 
            [class.selected]='task === selectedTask'
            (click)='onSelect(task)'>
            <tr>
              <td data-title="Task">{{ task.title }}</td>
              <td data-title="ID">{{ task.id }}</td>
              <td data-title="Assigned By"> {{ task.assigner }}</td>
              <td data-title="Assigned To">{{ task.assignee }}</td>
              <td data-title="Date Assigned"> {{ task.assigned }}</td>
              <td data-title="Due"> {{ task.due }}</td>
              <td data-title="Description">{{ task.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div>
  <button  class="btn btn-primary" (click)=testJavaApi()>Test</button>
</div>