/* Tooltip container */
.tip {
    position: relative;
    color: #555;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: .5em;
}

/* Tooltip text */
.tip .tiptext {
    visibility: hidden;
    width: 220px;
    text-align: center;
    padding: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #555;
    color: #fff;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 155%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tip .tiptext::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
    visibility: visible;
    opacity: 1;
}



#desc{
    padding: 5px 2px;
    background-color: #fff;
    color: #555;
    font-size: .75em;
    margin: 0px;
}