<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/">Aves</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li>
        <a routerLink="/members" routerLinkActive="active">Members</a>
      </li>
      <li>
        <a routerLink="/communications" routerLinkActive="active">Communications</a>
      </li>
      <li>
        <a routerLink="/skills" routerLinkActive="active">Skills</a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li>
        <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
    </ul>
  </div>

  <div>
    <ul class="navbar-nav">
      <div *ngIf="checkLogin() == false">
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </div>
      <div *ngIf="checkLogin() == true">
        <div class="dropdown">

          <button class="btn btn-secondary dropdown-toggle" type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          >
            Welcome USER
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="#">View Profile</a>
            <a class="dropdown-item" href="#">Manage User</a>
            <a class="divider"></a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>

        </div>
      </div>
      <div *ngIf="checkLogin() == false">
        <li>
          <a routerLink="/new-user" routerLinkActive="active">Register</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
<div class='build-version'>
  <!-- <p>Angular Build Date: {{ buildDateAngular }}</p>
  <p>Jenkins Build Date: {{ buildDate }}</p> -->
  <p>Build Version: {{ version }}</p>
  <p>Build Date: {{ buildDate }}</p>
</div>
<router-outlet></router-outlet>
