<div *ngIf="appComponent.checkLogin() == false">
  <div class="container">
    <h1>Forgot Password?</h1>
    <div>
      Enter your username or email address. You will receive an email with further instructions on how to reset your password.
    </div>
    <div>&nbsp;</div>
    <form #userForgotPassword="ngForm" (ngSubmit)="onClickSubmit(userForgotPassword.value)">
      <div class="form-row">
        <label>Username or Email: <input type="text" name="usernameOrEmail" class="form-control" ngModel></label>
      </div>
      <input type="submit" value="Submit">
    </form>
    <div class="text-danger">
      {{forgotPasswordMessage}}
    </div>
  </div>
</div>
