<div *ngIf="appComponent.checkLogin() == false">
  <div class="container">
    <h1>Login</h1>
    <form #userLogin="ngForm" (ngSubmit)="onClickSubmit(userLogin.value)">
      <div class="form-row">
        <label>Username: <input type="text" name="username" class="form-control" ngModel></label>
      </div>
      <div class="form-row">
        <label>Password: <input type="password" name="password" class="form-control" ngModel></label>
      </div>
      <input type="submit" value="Login">
    </form>
    <div class="text-danger">
      {{loginMessage}}
    </div>
    <div>
      <a class="text-primary" routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a>
    </div>
  </div>
</div>
