<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>New User Registration</h3>
                <form #f="ngForm"
                      (ngSubmit)="onSubmit(f.value)">
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" #firstName="ngModel" ngModel required>
                        <div class="text-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                         First Name is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" #lastName="ngModel" ngModel required>
                        <div class="text-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                          Last Name is required
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" #username="ngModel" ngModel required>
                        <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                          Username is required
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="12">
                        <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                          <div *ngIf="password.errors['required']">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be 12 characters in length</div>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="password">Password confirm</label>
                        <input type="password" class="form-control" name="passwordConfirm" #passwordConfirm="ngModel" ngModel required compare="password">
                        <div class="text-danger" *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
                          <div *ngIf="passwordConfirm.errors['required']">Password confirm is required</div>
                          <div *ngIf="passwordConfirm.errors['compare']">Password confirm do not match</div> 
                          
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" #email="ngModel" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" email>
                        <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                          <div *ngIf="email.errors['required']">Email is required</div>
                          <div *ngIf="email.errors['pattern']">Must be a valid email</div>
                         
                        </div>       
                    </div>  
                   
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
                    </div>

                    <div style="background-color:Tomato">
                        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
                         {{ registrationMessage }}
                     </div>

                    <div id="message">
                      <h3>Requirements:</h3>
                          <li>Password must be least 12 characters in length</li>
                          <li>Username must be unique</li>
                          <li>Must be a valid email address</li>
                            
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


