.search-result li {
  display: block;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 450px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}

.search-result li a:active {
  color: white;
}

#search-box {
  width: 400px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.result {
  display: inline-block;
}

.left {
  height: 60px;
  width: 20%;
}

.right {
  height: 60px;
  width: 80%;
  float: right;
}

.result-img {
  height: 50px;
  width: 50px;
  float: left;
}

.small {
  font-size: xx-small;
}
