<div class="container">
  <input #searchBox id="search-box" placeholder="Search for member's first name, last name, or nickname" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let teammate of teammates$ | async">
      <a routerLink="/members/memberdetail/{{teammate.id}}" routerLinkActive="active">
        <div *ngIf="view == 'condensed'; else standard">
          {{teammate.firstName}}
          <span *ngIf="teammate.nickName">({{teammate.nickName}})</span>
          {{teammate.lastName}}
        </div>

        <ng-template #standard>
          <div class="result left">
            <span *ngIf="teammate.photo">
              <img id="user-avatar-{{teammate.id}}" src="{{teammate.photo}}" title="{{teammate.firstName}} {{teammate.lastName}}" class="result-img">
            </span>
          </div>
          <div class="result right">
            {{teammate.firstName}}
            <span *ngIf="teammate.nickName">({{teammate.nickName}})</span>
            {{teammate.lastName}}
            <span *ngIf="teammate.position.name || teammate.teams.Parent_Team || teammate.teams.Subteam">
              <br>
              <span class="small">
                <span *ngIf="teammate.position.name"> * {{teammate.position.name}}</span>
                <span *ngIf="teammate.teams.Parent_Team"> * {{teammate.teams.Parent_Team}}</span>
                <span *ngIf="teammate.teams.Subteam"> * {{teammate.teams.Subteam}}</span>
              </span>
            </span>
          </div>
        </ng-template>
      </a>
    </li>
  </ul>
</div>
