<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3> Reset Password </h3>
                <form #p="ngForm" (ngSubmit)= "onSubmit(p.value)">
                  <div class="form-group">
                        <p>New Password:<input type="password" class="form-control" name="newPassword" #password="ngModel" required minlength="12" ngModel></p>
                        <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                          <div *ngIf="password.errors['required']">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be 12 characters in length</div>
                        </div>
                  </div>

                  <div class="form-group">
                    <p> Confirm New Password: <input type="password" class="form-control" name="passwordConfirm" #cpassword="ngModel" required ngModel> </p>
                      <div class="text-danger" *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
                        <div *ngIf="cpassword.errors['required']">Confirm password is required</div>
                      </div>
                    </div>

                    <div class="text-danger"> {{responseMessage}}</div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Update" [disabled]="p.invalid">
                    </div>
                    <a class="text-primary" routerLink="/login" routerLinkActive="active">Back to Login</a>
          </form>
        </div>
    </div>
  </div>

</div>
