<!-- CONTAINER/ -->
<div class="container">

  <h1>SKILLS</h1>

  <h3>ALL SKILLS</h3>
  <hr size="10">


   <div class="row" style="background:#666666">
     <div class="col-2">
        <ul>
        <li *ngFor="let skill of uniqueSkills | slice:0:10 ; let i = index" style="margin-right: 5px; margin-bottom: 5px; text-align: center; display: inline-block;">
          <p>{{skill._id}} : {{skill.total}} </p>
        </li>
        </ul>
     </div> 
     <div class="col-10" style="background:#777777">

      TABLES HERE

      

      
      <h3>ALL SKILLS</h3>
      <hr size="10" />
    
      <div class="row">
        <span *ngFor="let skill of AllSkills" style="float: left; margin-right: 15px; margin-bottom: 55px">
          {{skill}}
        </span>
    
    
        <div id="no-more-tables" class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>SKILL</th>
                  <th class="col-lg-4">TEAM</th>
                  <th class="col-lg-4">SKILL LEVEL</th>
                </tr>
              </thead>
            </table>
    
    
    
      <div>




     </div>


  </div>



  

      <input type="checkbox" class="read-more-state" id="post-1" />
    
      <p class="read-more-wrap">View a list<span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>
      
      <label for="post-1" class="read-more-trigger"></label>
    </div>
    
    <div>
      <input type="checkbox" class="read-more-state" id="post-2" />
    
      <ul class="read-more-wrap">
        <li>lorem</li>
        <li>lorem 2</li>
        <li class="read-more-target">lorem 3</li>
        <li class="read-more-target">lorem 4</li>
      </ul>
      
      <label for="post-2" class="read-more-trigger"></label>
    </div>

    


  
      </div>

  </div>


  <!-- 
<span *ngFor="let teammate of combined" style="float: left; margin-right: 15px; margin-bottom: 55px">

  {{teammate.id}} {{teammate.name}} -->

  <!-- 
  <div *ngFor="let name of teammate.name | slice:0:100; let i=index">
    <div class="form-inline" style="margin-right: 10px; padding-left: 45px;">
      #{{i + 1}}: {{name}} {{teammate}}
    </div>
  </div>
 -->

  <!-- <div *ngFor="let skill of teammate.skills | slice:0:100; let i=index">
    <div class="form-inline" style="margin-right: 10px; padding-left: 45px;">
      #{{i + 1}}: {{skill.title}} {{skill.rating}}
    </div>
  </div>

</span>
 -->
  <hr size="10" />
  <br/>
  <br/>



  <!-- LIST VIEW/ -->
  <div class="row">
    <div col-lg-12>
      <h3>LAZY LOAD THIS TABLE LATER</h3>
      <div id="no-more-tables" class="table-responsive" style="overflow-x: auto;">

        <table class="table table-striped table-bordered table-hover">

          <!-- TABLE HEADERS -->
          <thead>
            <tr>
              <th>NAME</th>
              <th class="col-md-2"></th>
              <!--                 <th class="col-md-3">EMAIL</th>
                <th class='mobile-vanish'>PHONE</th>
                <th>LOCATION</th>
                <th class='mobile-vanish'>COMPANY</th>
                <th class='mobile-vanish'>TEAM</th>
                <th>SUB-TEAM</th> -->
              <th>TEAM</th>
              <th>SKILL LEVEL</th>
            </tr>
          </thead>

          <!-- TABLE CONTENT -->
          <tbody *ngFor="let person of combined; let i = index">
            <tr>
              <td class='mobile-vanish' data-title="ID">{{person.id}}</td>
              <td data-title="NAME">{{person.name}}</td>
              <td data-title="Team"> FAKE TEAM PLACEHOLDER </td>
              <td data-title="SKILLS">

                <div *ngFor="let skill of person.skills | slice:0:100; let i=index">
                  <div class="form-inline" style="margin-right: 10px; padding-left: 45px;">
                    #{{i + 1}}: {{skill.title}} {{skill.rating}}
                  </div>
                </div>

              </td>
              <!--                 <td data-title="EMAIL"><span class='mobile-vanish'>{{person.email}}</span><a class='glyphicon glyphicon-envelope mobile-show' href='mailto:{{ person.email }}'></a></td>
                <td class='mobile-vanish' data-title="PHONE">{{person.phone}}</td>
                <td data-title="LOCATION">{{person.location}}</td>
                <td class='mobile-vanish' data-title="COMPANY">{{person.companyName}}</td>
                <td class='mobile-vanish' data-title="TEAM">{{person.team}}</td>
                <td data-title="SUB-TEAM">{{person.subteam}}</td> -->

              <!--                 <app-more-options
                  class='mobile-vanish'
                  style="margin-left: 10px;"
                  [options]="['Edit', 'Delete']"
                  [teamMember]="person">
                </app-more-options> -->

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- /LIST VIEW -->

</div>
<!-- /CONTAINER -->