#membersBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .membersRow{
    display: flex;
    flex-direction: row;
  }
  
  /* .glyphicon-option-horizontal {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  } */
  .mobile-show {
    display: none;
  }
  
  .optionsButton {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .deea-profile-img {
    height: 80%;
    width: 80%;
    float: left;
    margin-right: 10px;
  }
  
  .deea-flex-col {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  
  /* Add user and toggle ctrl row */
  .button-row, .toggle-ctrl {
    display: flex;
  }
  
  .add-user {
    width: 8em;
  }
  
  .fa-user-edit:hover {
    color: orange;
    cursor: pointer;
  }
  
  .fa-save:hover {
    color: blue;
    cursor: pointer;
  }
  
  .fa-arrow-circle-right:hover {
    color: purple;
    cursor: pointer;
  }
  
  .fa-trash-alt:hover {
    color: red;
    cursor: pointer;
  }
  /* End Custom CSS */
  
  /* How TO - Profile Card CSS source code can be found at
    https://www.w3schools.com/howto/howto_css_profile_card.asp */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    /* Custom CSS style elements */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  /* Create a CSS Flipping Animation CSS code source at
    https://davidwalsh.name/css-flip */
  /* entire container, keeps perspective */
  .flip-container {
  perspective: 1000px;
  }
  /* flip the pane when hovered */
    .flip-container.flip .flipper {
        transform: rotateY(180deg);
    }
  
  .flip-container, .front, .back {
  width: 320px;
  height: 480px;
  }
  
  /* flip speed goes here */
  .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  
  position: relative;
  }
  
  /* hide back of pane during swap */
  .front, .back {
  backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
  }
  
  /* front pane, placed above back */
  .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  }
  
  /* back, initially hidden pane */
  .back {
  transform: rotateY(180deg);
  }
  
  /* Close button  */
  
  .wrapper {
    position: relative;
    display: inline-block;
  }
  .close:before {
    content: '✕';
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  
    display:none;
  }
  
  .card:hover .close{
    display: inline-block;
  }
  
  .front:hover {
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: shake 0.6s;
      /* When the animation is finished, start again */
      animation-iteration-count:infinite;
  }
  
  @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .back .card{
    overflow-y: scroll;
  }
  
  
  /* Modal Window */
  
  app-modal-winow{
    width: 100%;
    height: 100%;
    top: 0 !important;
    position: absolute;
   }
  /* Portrait and Landscape */
  
  @media only screen
    and (max-device-width: 1112px) {
      .mobile-vanish {
        display: none;
      }
  
      .mobile-show {
        display: inline; 
      }
  
      .table-responsive {
        width: 95%;
        font-size: 13px;
        margin: 0 auto;
      }
    }







    .read-more-state {
      display: none;
    }
    
    .read-more-target {
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .25s ease;
    }
    
    .read-more-state:checked ~ .read-more-wrap .read-more-target {
      opacity: 1;
      font-size: inherit;
      max-height: 999em;
    }
    
    .read-more-state ~ .read-more-trigger:before {
      content: 'Show more';
    }
    
    .read-more-state:checked ~ .read-more-trigger:before {
      content: 'Show less';
    }
    
    .read-more-trigger {
      cursor: pointer;
      display: inline-block;
      padding: 0 .5em;
      color: #666;
      font-size: .9em;
      line-height: 2;
      border: 1px solid #ddd;
      border-radius: .25em;
    }
    
    /* Other style */ 
    body {
      padding: 2%;
    }
    
    p {
      padding: 2%;
      background: black;
      color:white;
      border: 2px solid #666;
      border-radius: .25em;
    }