<!-- ADD FONT -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
  <!-- <script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'></script> -->


<!-- CONTAINER/ -->
<div class="container">


  <!-- PAGE HEADER -->
  <h1><i class="fas fa-id-card"></i>&nbsp;Team Members</h1>

  <div class="bootstrap button-row" id="membersBanner"><!-- Bootstrap works here-->

    <button type="button" class="btn btn-primary add-user" (click)="add_user()">
      <i class="fas fa-user-plus"></i>&nbsp;Add User
    </button>
    <div *ngIf="displayFreeAgent; else displayFreeAgentOnly">
        <button type="button" class="btn btn-primary all_members" (click)="all_members()">
            <i class="fas fa-users"></i>&nbsp;All Members
          </button> 
    </div>
      <ng-template #displayFreeAgentOnly>
        <button type="button" class="btn btn-primary free_agent_only" (click)="free_agent_only()">
            <i class="fas fa-user-friends "></i>&nbsp;Free Agent Only
        </button>  
      </ng-template> 

    <!-- GRID LIST TOGGLER -->
    <div class='toggle-ctrl'>
      <a (click)='toggleGrid()' id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span></a>
      <a (click)='toggleList()' id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list">
        </span></a>
    </div>

  </div>
  <!-- /PAGE HEADER -->

  <br>
  <app-member-search></app-member-search>
  <br>

  <!-- GRID VIEW/ -->
  <div class="search-results">

  <!-- <div scrollable (scrollPosition)="scrollHandler($event)"> -->
 <!-- <div (scroll)="alert('test')"> -->
  <div *ngIf="view === 'grid'">
    <span *ngFor="let teammate of combined" style="float: left; margin-right: 15px; margin-bottom: 55px">
      <div id="flip-user-{{teammate.id}}" class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper" style="height: 250px; width: 250px">
          <!-- FRONT OF CARD -->
          <div class="front">
            <div class="card">

              <img id="user-avatar-{{teammate.id}}" src={{teammate.photo}} title="{{teammate.firstName}} {{teammate.lastName}}" class="deea-profile-img">
              <span>
                <div *ngIf="teammate.deletable" class="wrapper">
                  <span id="user-delete-{{teammate.id}}" class="close" title="Delete User" (click)="delete_user(teammate)"></span>
                </div>
                <br>
                <br>
                <br>

                <i *ngIf="teammate.editable" id="user-edit-{{teammate.id}}" class="fas fa-user-edit fa-2x" [class.active]="teammate.editable" title="Edit User" routerLink="memberdetail/{{teammate.id}}">
                </i>
                <br>
                <br>
                <i id="user-flip-{{teammate.id}}" class="fas fa-arrow-circle-right fa-2x" title="Flip Card" (click)="flip_card(teammate)"></i>
                <br>
                <br>
                <!-- <i id="user-delete-{{teammate.id}}" class="fas fa-trash-alt fa-2x" title="Delete User" (click)="delete_user(teammate)"></i> -->
              </span>
              <span class="deea-flex-col">

                <h3>{{teammate.firstName}}</h3>
                <h3>{{teammate.lastName}}</h3>
                <p>{{teammate.position?.name}}</p>
                <i class="fas fa-building"></i>&nbsp;
                <span>{{teammate.company?.name}}</span>
                <br>
                <i class="fas fa-map-marker"></i>&nbsp;
                <span>{{teammate.location?.name}}</span>
                <br>
                <i class="fas fa-at"></i>&nbsp;
                <span>{{teammate.email}}</span>
                <br>
                <i class="fas fa-phone"></i>&nbsp;
                <span>{{teammate.phone}}</span>
              <div *ngIf="teammate.isFreeAgent">
                  <p *ngIf="teammate.availableDate > today; else noAvailableDate">
                    <!-- Free Agent as of {{teammate.availableDate | date}} -->
                    <i id="free-agent-{{teammate.id}}" class="fas fa-flag fa-2x" title="Free Agent as of {{teammate.availableDate | date}}">
                    </i>
                  </p>
              </div>
                <ng-template #noAvailableDate>
                  <!-- <p>Free Agent</p> --> 
                  <i id="free-agent-{{teammate.id}}" class="fas fa-flag fa-2x" title="Free Agent">
                  </i>                                      
                </ng-template>
                <!-- <br>
                <span>Team: {{teammate.name}}</span>
                <br>
                <span>Sub-Team: {{teammate.sub_team_id}}</span> -->
              </span>
          </div>
        </div>



          <!-- BACK OF CARD -->
          <div class="back">

            <div class="card">
              <span class="deea-flex-col">
                <h4>Biography {{teammate.bio}}</h4>
                <h3>Top 5 Skills</h3>
                <!-- <h5><div *ngFor="let skill of teammate.skills | slice:0:5; let i=index">
                    <div class="form-inline" style="margin-right: 10px; padding-left: 45px;">
                      #{{i + 1}}: {{skill.title}} {{skill.rating}}
                   </div>
                </div></h5> -->

                <!-- can't use ngIf and ngFor on the same element -->
                <!-- so I broke it down this way  -->
                <!-- also the empty boxes should be there. I copied them from circle icon at Font fontawesome -->
                <ng-container *ngFor="let skill of teammate.skills| slice:0:5">
                  <h5 *ngIf="skill.rating == 5">{{skill.title}} <span class="rating-fill-5"></span><span class="circle-5">5</span></h5>
                  <h5 *ngIf="skill.rating == 4">{{skill.title}} <span class="rating-fill-4"></span><span class="rating-empty-1"></span><span class="circle-4">4</span></h5>
                  <h5 *ngIf="skill.rating == 3">{{skill.title}} <span class="rating-fill-3"></span><span class="rating-empty-2"></span><span class="circle-3">3</span></h5>
                  <h5 *ngIf="skill.rating == 2">{{skill.title}} <span class="rating-fill-2"></span><span class="rating-empty-3"></span><span class="circle-2">2</span></h5>
                  <h5 *ngIf="skill.rating == 1">{{skill.title}} <span class="rating-fill-1"></span><span class="rating-empty-4"></span><span class="circle-1">1</span></h5>
                </ng-container>

                <!-- <h5 *ngFor="let skill of teammate.skills| slice:0:5;"><b>{{skill.title}}</b> - {{skill.rating}} </h5> -->
                <i class="fas fa-arrow-circle-right fa-2x" title="Flip Card" (click)="flip_card(teammate)"></i>
                <br>
                <br>
              </span>
            </div>

          </div>

        </div>

      </div>

    </span>
    </div>
    <button (click)="onScrollDown()">More Data</button>
  </div>

  <!-- /GRID VIEW -->



  <!-- LIST VIEW/ -->
  <div *ngIf="view === 'list'">

    <div class="row">
      <div col-lg-12>
        <div id="no-more-tables" class="table-responsive" style="overflow-x: auto;">


          <table class="table table-striped table-bordered table-hover">

            <!-- TABLE HEADERS -->
            <thead>
              <tr>
                <th class='mobile-vanish'>ID</th>
                <th class="col-md-2">NAME</th>
                <th class="col-md-3">EMAIL</th>
                <th class='mobile-vanish'>PHONE</th>
                <th>LOCATION</th>
                <th>POSITION</th>
                <th class='mobile-vanish'>COMPANY</th>
                <!-- <th class='mobile-vanish'>TEAM</th>
                <th>SUB-TEAM</th> -->
              </tr>
            </thead>

            <!-- TABLE CONTENT -->
            <tbody *ngFor="let person of combined; let i = index">
              <tr>
                <td class='mobile-vanish' data-title="ID">{{person.id}}</td>
                <td data-title="NAME"><button mat-raised-button (click)="openModalWindowDialog(person)">{{person.firstName}} {{person.lastName}}</button></td>
                <td data-title="EMAIL"><span class='mobile-vanish'>{{person.email}}</span><a class='glyphicon glyphicon-envelope mobile-show' href='mailto:{{ person.email }}'></a></td>
                <td class='mobile-vanish' data-title="PHONE">{{person.phone}}</td>
                <td data-title="LOCATION">{{person.location}}</td>
                <td data-title="POSITION">{{person.position}}</td>
                <td class='mobile-vanish' data-title="COMPANY">{{person.companyName}}</td>
                <!-- <td class='mobile-vanish' data-title="TEAM">{{person.team}}</td>
                <td data-title="SUB-TEAM">{{person.subteam}}</td> -->

                <app-more-options
                  class='mobile-vanish'
                  style="margin-left: 10px;"
                  [options]="['Edit', 'Delete']"
                  [teamMember]="person">
                </app-more-options>

              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>

  </div>
  <!-- /LIST VIEW -->

</div>
<!-- /CONTAINER -->





<!-- ################## END #################### -->
