@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#membersBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.membersRow{
  display: flex;
  flex-direction: row;
}

/* .glyphicon-option-horizontal {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
} */
.mobile-show {
  display: none;
}

.optionsButton {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.deea-profile-img {
  height: 80%;
  width: 80%;
  float: left;
  margin-right: 10px;
}

.deea-flex-col {
  flex-direction: column;
  text-align: center;
  width: 100%;
}

/* Add user and toggle ctrl row */
.button-row, .toggle-ctrl {
  display: flex;
}

.add-user {
  width: 8em;
}

.free_agent_only, .all_members {
  width: 10em;
}

.fa-user-edit:hover {
  color: orange;
  cursor: pointer;
}

.fa-save:hover {
  color: blue;
  cursor: pointer;
}

.fa-arrow-circle-right:hover {
  color: purple;
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: red;
  cursor: pointer;
}
/* End Custom CSS */

/* How TO - Profile Card CSS source code can be found at
  https://www.w3schools.com/howto/howto_css_profile_card.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  /* Custom CSS style elements */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Create a CSS Flipping Animation CSS code source at
  https://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.flip-container {
perspective: 1000px;
}
/* flip the pane when hovered */
  .flip-container.flip .flipper {
      transform: rotateY(180deg);
  }

.flip-container, .front, .back {
width: 320px;
height: 480px;
}

/* flip speed goes here */
.flipper {
transition: 0.6s;
transform-style: preserve-3d;

position: relative;
}

/* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;

position: absolute;
top: 0;
left: 0;
}

/* front pane, placed above back */
.front {
z-index: 2;
/* for firefox 31 */
transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
transform: rotateY(180deg);
}

/* Close button  */

.wrapper {
  position: relative;
  display: inline-block;
}
.close:before {
  content: '✕';
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  display:none;
}

.card:hover .close{
  display: inline-block;
}

.front:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.6s;
    /* When the animation is finished, start again */
    animation-iteration-count:infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.back .card{
  overflow-y: scroll;
}


/* Modal Window */

app-modal-winow{
  width: 100%;
  height: 100%;
  top: 0 !important;
  position: absolute;
 }
/* Portrait and Landscape */

@media only screen
  and (max-device-width: 1112px) {
    .mobile-vanish {
      display: none;
    }

    .mobile-show {
      display: inline;
    }

    .table-responsive {
      width: 95%;
      font-size: 13px;
      margin: 0 auto;
    }
  }
  .fa-flag:hover {
    color: blue;
    cursor: pointer;
  }



/* Styling for skill ratings on the back of the card */

/* for 1 circlw rating */
.rating-fill-1{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #FFD700;
}

/* leaving 1 circle grey */
.rating-empty-1{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #ddd;
}

/* for 2 circle rating */
.rating-fill-2{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #FFD700;
}

/* leaving 2 circles grey */
.rating-empty-2{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #ddd;
}

/* for 3 circle rating */
.rating-fill-3{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #FFD700;
}

/* leaving 3 circles grey */
.rating-empty-3{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #ddd;
}


.rating-fill-4{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #FFD700;
}

.rating-empty-4{
  font-family: FontAwesome;
  font-size: 1.25em;
  color: #ddd;
}

.rating-fill-5{
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.25em;
  color: #FFD700;
}

/* styling for circles with number inside */
.circle-1, .circle-2, .circle-3, .circle-4, .circle-5{
  border: 0.1em solid grey;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  text-align: center;
  visibility: hidden;
}

.circle-1{
  background-color: #fff176;
}

.circle-2{
  background-color: #ffee58;
}

.circle-3{
  background-color: #ffeb3b;
}

.circle-4{
  background-color: #fdd835;
}

.circle-5{
  background-color: #fbc02d;
}


/* when the screen is at 500px */
/* don't show the normal circle rating */
/* but show the rating inside the circle */
@media screen
  and (max-width: 600px){
    .rating-fill-5, .rating-fill-4, .rating-fill-3, .rating-fill-2, .rating-fill-1{
      display: none;
    }
    .rating-empty-4, .rating-empty-3, .rating-empty-2, .rating-empty-1{
      display: none;
    }
    .circle-1, .circle-2, .circle-3, .circle-4, .circle-5{
      visibility: visible;
    }
}
