.mat-dialog-title, .mat-dialog-content, .mat-button {
    text-align: center;
    margin: 0 auto;
}

 .mat-dialog-container {
    vertical-align: middle;
 }

 .mat-dialog-title {
     font-weight: 700;
 }