<h1 mat-dialog-title>
  {{ employeeFirstName + " " + employeeLastName }}</h1>
<mat-dialog-content>
  <p>Email: {{ employeeEmail }}</p>
  <p>Phone: {{ employeePhone }}</p>
  <p>Location: {{ employeeLocation }}</p>
  <p>Position: {{ employeePosition }}</p>
  <p>Company: {{ employeeCompany }}</p>
  <!-- <p>Team: {{ employeeTeam }}</p>
  <p>Subteam: {{ employeeSubteam }}</p> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" mat-dialog-close>Ok</button>
</mat-dialog-actions>