<div class="container">
    <h1>Communications</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-lg-6">
            <input type="text" class="form-control" id="inputSearch" placeholder="Search">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div id="no-more-tables" class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="col-lg-2">Message</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Name">Mark</td>
                            <td data-title="Message">Otto</td>
                            <td data-title="Date">5/1/2108</td>
                        </tr>
                        <tr>
                            <td data-title="Name">Jacob</td>
                            <td data-title="Message">Thornton</td>
                            <td data-title="Date">5/1/2018</td>
                        </tr>
                        <tr>
                            <td data-title="Name">Larry</td>
                            <td data-title="Message">the Bird</td>
                            <td data-title="Date">5/1/2018</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>