<form class="updateValidation" novalidate>
<div class="row">
  <div class="col-md-1 col-sm-1 col-xs-1">
  </div>

  <div class="col-md-10 col-sm-10 col-xs-10">

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="fName">First Name <span>(*Required)</span></label>
    <input class="form-control" type="text" [(ngModel)]="teammate.firstName" name="fName" id="fName" placeholder="First name">
    </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="lName">Last Name <span>(*Required)</span></label>
    <input class="form-control" type="text" [(ngModel)]="teammate.lastName" name="lName" id="lName" placeholder="Last name">
      </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="email">Email <span>(*Required)</span></label>
    <input class="form-control" type="email" [(ngModel)]="teammate.email" name="email" id="email" placeholder="E-mail">
  </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="phone">Phone</label>
    <input class="form-control" type="text" [(ngModel)]="teammate.phone" name="phone" id="phone" placeholder="(555) 555-5555">
  </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="location">Location</label>
    <input class="form-control" type="text" [(ngModel)]="teammate.location" name="location" id="location">
  </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="companyName">Company</label>
    <select class="form-control" id="companyName"
      [(ngModel)]="teammate.company" name="company">
      <option *ngFor="let c of companies" [ngValue]="c">{{c.companyName}}</option>
    </select>
  </div>
  </div>

  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="position">Title</label>
    <input class="form-control" type="text" [(ngModel)]="teammate.position" name="position" id="position" placeholder="Job Title">
  </div>
  </div>

  <br>

  <!-- SKILLS -->
  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
  <label for="">Skills and Ratings<span>(*Required)</span></label>
  <div *ngFor="let skill of member.skills; let i = index">
      <div class="form-inline">
        <label for="skills" style="margin-right: 10px;">Skill #{{i + 1}}</label>

        <input type="text" class="form-control mb-2 mr-sm-2" style="width: 300px;"
        [(ngModel)]="member.skills[i].title" name="title{{i}}" #skillTitle>

        <select class="form-control mb-2 mr-sm-2"
        [(ngModel)]="skill.rating" name="rating{{i}}" #skillRating>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <button (click)="removeSkill(i)" class="btn btn-danger mb-2 mr-sm-2" style="margin-left: 10px;" title="Remove Skill {{i+1}}">x</button>
      </div>
  </div>

  <button (click)="addSkill()" class="btn btn-primary">Add New Skill</button>
  <br><br>
  </div>
  </div>
  <!-- SKILLS -->

  <!-- BIO -->
  <div class="form-group row">
      <div class="col-md-7 col-sm-10 col-xs-10">
    <label for="bio">Bio<span>(*Required)</span></label>
    <textarea class="form-control" rows="3"
    [(ngModel)]="member.bio" name="bio" id="bio"></textarea>
  </div>
  </div>
  <!-- BIO -->

  <!-- SUBMIT -->
    <button type="submit" class="btn btn-success" (click)="addUser()">Create User</button>
    <button class="btn btn-warning" (click)="goBack()" style="margin-left: 30px;">Go Back</button>
  <!-- SUBMIT -->
</div>
</div>
<div class="col-md-1 col-sm-1 col-xs-1">
</div>
</form>


<div id="spaceForButtons" style="margin-top: 100px; height: 100px;"></div>
