@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

span{
  color: red;
}

form{
  margin-top: 20px;
}

.uploadPicture{
  margin-right: 20px;
}

/****** Style Circle Rating Widget *****/

/* source code: https://codepen.io/anon/pen/KejKvG */

label{
  display: inline-block;
}

#rating {
  border: none;
  float: left;
}

#rating > input { display: none; }
#rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  content: "\f111";
}

#rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

#rating > input:checked ~ label, /* show gold star when clicked */
#rating:not(:checked) > label:hover, /* hover current star */
#rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

#rating > input:checked + label:hover, /* hover current star when changing rating */
#rating > input:checked ~ label:hover,
#rating > label:hover ~ input:checked ~ label, /* lighten current selection */
#rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* end of rating */
