<div class="container-fluid">
    <div class="row">

        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>

        <div class="col-md-10 col-sm-10 col-xs-10">

            <div *ngIf="teammate && member">

                <form #f="ngForm" (ngSubmit)="onUpdate(f.value)">
                    <div class="form-group row">
                        <div *ngIf="saveSuccess" id="saveSuccess" class="alert alert-success col-md-7 col-sm-10 col-xs-10" role="alert">{{saveMessage}}</div>
                        <!--<div *ngIf="saveFailure" id="saveFailure" class="alert alert-danger" role="alert">{{saveMessage}}</div>-->
                        <div *ngIf="skillTitleError" id="saveFailure" class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert">Skill title is required</div>
                        <div *ngIf="skillRatingError" id="saveFailure" class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert">Skill rating is required</div>

                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert">
                            First Name is required
                        </div>
                        <div class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                            Last Name is required
                        </div>
                        <div class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['pattern']">Must be a valid email</div>
                        </div>
                        <div class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert" *ngIf="phone.invalid && phone.dirty">
                            <div *ngIf="phone.errors['pattern']">Phone must be in following form: ###-###-####</div>
                        </div>
                        <div class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert" *ngIf="bio.invalid && (bio.dirty || bio.touched)">
                            Bio is required.
                        </div>
                        <div class="alert alert-danger col-md-7 col-sm-10 col-xs-10" role="alert" *ngIf="availDate.errors?.required && availDate.touched">
                            Future availability date required.
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="firstName">First Name
                                <span>(*Required)</span>
                            </label>
                            <input class="form-control" type="text" #firstName="ngModel" [(ngModel)]="teammate.firstName" name="firstName" required>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="lastName">Last Name
                                <span>(*Required)</span>
                            </label>
                            <input class="form-control" type="text" #lastName="ngModel" [(ngModel)]="teammate.lastName" name="lastName" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="email">Email
                                <span>(*Required)</span>
                            </label>
                            <input class="form-control" type="email" #email="ngModel" [(ngModel)]="teammate.email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="phone">Phone
                                <span>(###-###-####)</span>
                            </label>
                            <input class="form-control" type="text" #phone="ngModel" [(ngModel)]="teammate.phone" name="phone" pattern="\d{3}-\d{3}-\d{4}$">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="location">Location</label>
                            <input class="form-control" type="text" [ngModel]="teammate.location?.name" (ngModelChange)="teammate.location.name=$event" name="location">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <div class="form-group">
                                <label for="position">Position</label>
                                <input class="form-control" type="text" [ngModel]="teammate.position?.name" (ngModelChange)="teammate.position.name=$event" name="position">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="companyName">Company</label>
                            <select class="form-control" style="height:auto" id="companyName" [compareWith]="compareFn" [(ngModel)]="teammate.company" name="company">
                                <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
                            </select>
                        </div>
                    </div>

                    <!--AVAILABILITY-->
                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="">Free Agent</label>
                            <app-tooltip
                                icon="glyphicon glyphicon-question-sign" 
                                header="Free Agent" 
                                desc="A team member may be marked as a free agent when they are available 
                                for assignment to another team such as if they are floating between projects 
                                and helping teams or will be wrapping up on a project. If a know wrap up date 
                                is in the future, that may be entered as well"></app-tooltip>
                                <div class="form-inline">
                                    <label class="sr-only" for="isFreeAgent">Is Free Agent</label>
                                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" (change)="availChangeHandler()" [(ngModel)]="teammate.isFreeAgent" name="isFreeAgrent">
                                        </label>
                                    </div>
                                    <div class="mb-2 mr-sm-2 mb-sm-0">
                                        <label for="availableDate" class="mb-2 mr-sm-2 mb-sm-0">Free Agent as of </label>
                                        <input #availDate="ngModel" [disabled]="teammate.isFreeAgent" [required]="!teammate.isFreeAgent" min={{minDate}} class="form-control"
                                            type="date" [ngModel] ="teammate.availableDate | date:'yyyy-MM-dd'" (ngModelChange)="teammate.availableDate = $event" name="availableDate">
                                        <span *ngIf="!teammate.isFreeAgent">(*Required)</span>
                                    </div>
                                </div>               
                        </div>
                    </div>
                    <!--AVAILABILITY-->

                    <!-- SKILLS -->
                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="">Skills and Ratings
                                <span>(*Required)</span>
                            </label>
                            <div *ngFor="let skill of member.skills; let i = index">
                                <div class="form-inline">
                                    <label for="skills" style="margin-right: 10px;">Skill #{{i + 1}}</label>


                                    <input type="text" class="skillTitleInput form-control mb-2 mr-sm-2" [(ngModel)]="member.skills[i].title" name="title{{i}}"
                                        required #skillTitle="ngModel" (keyup)="print(skillTitle.value)">


                                    <fieldset class="form-control mb-2 mr-sm-2" id="rating" name="rating{{i}}" #skillRating (change)="print(skillRating.value)">

                                        <input class="skillRatingRadio" type="radio" id="circle5{{i}}" name="rating{{i}}" value="5" [(ngModel)]="skill.rating" />
                                        <label class="full" for="circle5{{i}}" title="Advanced: Considered a subject matter expert and has an in depth understanding of the technology"></label>

                                        <input class="skillRatingRadio" type="radio" id="circle4{{i}}" name="rating{{i}}" value="4" [(ngModel)]="skill.rating" />
                                        <label class="full" for="circle4{{i}}" title="Experienced: Has completed multiple sophisticated projects using the technology. Is comfortable being a resource for less experienced team members"></label>

                                        <input class="skillRatingRadio" type="radio" id="circle3{{i}}" name="rating{{i}}" value="3" [(ngModel)]="skill.rating" />
                                        <label class="full" for="circle3{{i}}" title="Intermediate: Has a decent grasp on the technology and would be comfortable as the only developer on a simple project with said technology"></label>

                                        <input class="skillRatingRadio" type="radio" id="circle2{{i}}" name="rating{{i}}" value="2" [(ngModel)]="skill.rating" />
                                        <label class="full" for="circle2{{i}}" title="Knowledgeable: Has enough knowledge to do basic tasks in the technology. Is familiar with basic technology specific terms"></label>

                                        <input class="skillRatingRadio" type="radio" id="circle1{{i}}" name="rating{{i}}" value="1" [(ngModel)]="skill.rating" required/>
                                        <label class="full" for="circle1{{i}}" title="Novice: Some exposure to the technology ie: taken a class or done a tutorial"></label>
                                    </fieldset>

                                    <button (click)="removeSkill(i)" class="btn btn-danger mb-2 mr-sm-2" style="margin-left: 15px;" title="Remove Skill {{i+1}}">x</button>
                                </div>
                            </div>
                            <button (click)="addSkill()" class="btn btn-primary">Add New Skill</button>
                        </div>
                    </div>
                    <!-- SKILLS -->

                    <!-- BIO -->
                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="bio">Bio
                                <span>(*Required)</span>
                            </label>
                            <textarea class="form-control" rows="5" [(ngModel)]="member.bio" name="bio" #bio="ngModel" required></textarea>
                        </div>
                    </div>
                    <!-- BIO -->

                    <!-- UPLOAD PICTURE -->
                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <label for="uploadPicture" class="uploadPicture">Upload Picture</label>
                            <input type='file' accept='image/*' name="imageUpload" (change)='uploadPicture($event)'>
                        </div>
                    </div>
                    <!-- UPLOAD PICTURE -->
                    <!-- DELETE PICTURE -->
                    <div class="form-group row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <button class="btn btn-danger" (click)="deletePicture()">Delete Picture</button>
                        </div>
                    </div>
                    <!-- DELETE PICTURE -->

                    <!-- RESUME -->
                    <div class="row">
                        <div class="col-md-7 col-sm-10 col-xs-10">
                            <div>
                                <form>
                                    <div class="form-group">
                                        <label for="single">Resume</label>
                                        <input type="file" name="single" ng2FileSelect [uploader]="uploader" />
                                    </div>
                                </form>
                            </div>
                            <div>
                                <!--<h3>Upload Resume Here</h3>-->
                                Queue length: {{ uploader?.queue?.length }}

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th>Size</th>
                                            <th>Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of uploader.queue">
                                            <td>
                                                <strong>{{ item.file.name }}</strong>
                                            </td>
                                            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                            <td>
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span *ngIf="item.isSuccess">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                                <span *ngIf="item.isCancel">
                                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                                </span>
                                                <span *ngIf="item.isError">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <div>
                                        Queue progress:
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="spaceForButtons" style="margin-top: 50px;"></div>

                    <!-- SUBMIT -->
                    <button type="submit" class="btn btn-success" (click)="onUpdate()">Save Changes</button>
                    <button class="btn btn-warning" (click)="goBack()" style="margin-left: 30px;">Cancel</button>
                    <!-- SUBMIT -->

                </form>
            </div>
            <div id="spaceForButtons" style="margin-top: 100px; height: 100px;"></div>

        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
    </div>
</div>